@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left, #abcce6, #f3aedc);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 45rem;
    padding: 2.5rem;
    background: rgba(255,255,255,0.2);
    border-radius: .7rem;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.6);
}

.wrapper .gradient-box{
    height: 22rem;
    width: 100%;
    border-radius: .7rem;
    background: linear-gradient(to left top, #abcce6, #f3aedc);
}

.wrapper .row{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.row :where(.column, button){
    width: calc(100% / 2 - 1.2rem);
}

.options p{
    font-size: 1.6rem;
    margin-bottom: .8rem;
    color: #fff;
}

.options .select-box{
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid #aaa;
}

.options .select-box select{
    width: 100%;
    border: none; outline: none;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.options .select-box select option{
    color: #333;
}

.options .plaette{
    margin-left: 6rem;
}

.palette input{
    height: 4.1rem;
    width: calc(100% / 2 - 2rem);
}

.palette input:last-child{
    margin-left: .6rem;
}

.colors{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
}

.colors input{
    appearance: none;
    background: transparent;
    width: 15rem;
    height: 3.8rem;
    outline: none;
    border: none;
}

.colors input::-webkit-color-swatch{
    border-radius: .3rem;
    border: .1rem solid #fff;
}

.wrapper textarea{
    width: 100%;
    resize: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid #ccc;
    background: none;
}

.buttons button{
    padding: 1.5rem 0;
    border: none; outline: none;
    color: #fff;
    margin: 0 0 -1.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease;
}

.buttons .refresh{
    background: #f3aedc;
}

.buttons .refresh:hover{
    background: #abcce6;
}

.buttons .copy:hover{
    background: #f3aedc;
}

.buttons .copy{
    background: #abcce6;
}